dti/all_FA_skeletonised.nii
dti/all_FA.nii
dti/design.con
dti/gCC_bCC_sCC.nii
dti/mean_FA_mask.nii
dti/mean_FA_skeleton_mask_dst.nii
dti/mean_FA_skeleton_mask.nii
dti/mean_FA_skeleton.nii
dti/mean_FA.nii
dti/mymask.nii.gz
dti/tbss_tfce_corrp_tstat1_filled.nii
dti/tbss_tfce_corrp_tstat1.nii
dti/tbss_tfce_corrp_tstat2.nii
dti/tbss_tstat1.nii
dti/tbss_tstat2.nii
utilities/ipython.html
utilities/.AALexplorer/AAL.xml
utilities/.AALexplorer/AAL.nii
utilities/.AALexplorer/AAL_atlas_explorer.py
